#SecondaryNav
{
	float:left;
	width:135px;
	height: 900px;
}

#mainContent
{
	float: left;
	width:745px;
	height:900px;
}

#verticle
{
	padding:5px;
	padding-top:25px;
	margin:0px;
}

#verticle li
{
	height: 35px;
	margin-bottom: 6px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right:0px;
	width:125px;
	padding-bottom: 10px;
	margin-bottom: 55px;
}

.icon
{
	float:left;
	width:100px;
	height:100px;
	margin:5px;
}

#iconSec
{
	float:left;
	width:115px;
	height:900px;
}

.image
{
	height:300px;
	padding:25px;
}

.current
{
	background-color: #fff !important;
}